*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

/* Header Section */

header{
  display: flex;
  background-color:#ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #f5f5f6 ;
  position: fixed;
  width: 100%;
}
/* .myntra_home{
  height: 45px;
}
.logo_container{
  margin-left: 4%;
} */
.home_container{
  margin-left: 4%;
}  
.home{
  height: 35px;
  width: 40px;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 5px;
}
.action_bar{
  margin-left: 4%;
}
.nav_bar{
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
  }
.nav_bar a{
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  /* padding: 20px; */
}
.nav_bar a:hover{
  border-bottom: 2px solid red;    
}
.nav_bar a sup{
  color: #ff3f6c;
  font-size: 10px;
}
.search_bar{
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon{
  box-sizing: content-box;
  background-color: #f5f5f6;
  height: 20px;
  padding: 10px;
  color: #282c3f;
  font-weight: 200;
  border-radius:4px 0 0 4px ;
}
.search_input{
  color: #696e79;
  background: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
.action_bar{
  display: flex;
  min-width: 300px;
  justify-content: space-evenly;
}
.action_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action_name{
  text-transform:capitalize ;
  color: #000;
  font-weight: 800;
  font-size: 15px;
}
header a{
  text-decoration: none;
}
/* Main Section */

.banner_container{
  padding-top: 82px;
  margin: 1px 70px;
}
.banner_image{
  width: 100%;
}
.category_heading{
  text-transform: uppercase;
  color: rgb(222, 169, 34);
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 30px;
  max-height: 5em;
  font-weight: 900;
  padding-bottom: 40px;
  text-align: center;
}
.category_items{ 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sale_item{
  width: 234px;
}

/* Footer Section */

.footer_container{
  padding: 30px 0px 40px 0px;
  background: #FAFBFC;
  display: flex; 
  flex-direction: row;
  justify-content:space-evenly;
  padding: 10px;
}
.footer_column a{
  text-transform: capitalize;
  text-decoration: none;
  display: flex;
  flex-direction:column;
  font-size: 15px;
  color: #696b79;
  margin-bottom: 7px;
}
.footer_column h3{
  color: #282c3f;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom:25px ;
  justify-content: space-between;
  margin-top: 25px;
}
.google_play{
  color: #282c3f;
  border: none;
  border-radius: 13px;
  height: 52px;
  width: 170px;
  margin-right: 42px;
}
.app_store{
  border-radius: 10px;
  height: 42px;
  width: 150px;
  margin-right: 10px;
}
.app{
  display: flex;
  flex-direction: row;  
  margin-bottom: 7px; 
}
.facebook_img{
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.twitter_img{
  width: 20px;
  height: 20px
}
.youtube_img{
  width: 28px;
  height: 20px;
  margin: 0px 16px;
}
.instagram_img{
  width: 20px;
  height: 22px;
  margin: 0px 3px;
}
.icon{
  display: flex;
  color: #282c3f;
}
.assurance_container{
  display: flex;
}
.guarantee{
  height: 40px;
  width: 40px;
  margin-top: 18px;
  margin-right: 10px;
}
.footer_container_last
{
  margin-top:25px;
  margin-left: 228px;
  margin-right: 228px;
}
/* @media screen and (max-width:1300px){
  .footer_container_last{
      margin-left: 105px;
      margin-right: 105px;
  }
 }
 @media screen and (max-width:1200px){
  .footer_container_last{
      
      margin-left: 20px;
      margin-right: 20px;
  }
 }
 @media screen and (max-width:950px){
  .footer_container_last{
      
      margin-left: 20px;
      margin-right: 20px;
  }
 }
 @media screen and (max-width:870px){
  .footer_container_last{
      
      margin-left: 20px;
      margin-right: 20px;
  }
 }
 @media screen and (max-width:835px){
  .footer_container_last{
      
      margin-left: 12px;
      margin-right: 12px;
  }
 } */

.popular
{
  border-bottom: 1px solid rgb(237, 233, 233);
}
.popular h3
{
  /* position: absolute; */
  /* margin-top: -15px; */
  padding-right: 10px;
  color: #282c3f;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.popular a
{
  text-decoration: none;
  text-transform: capitalize;
  color: #696b79;
  font-size: 15px;
  line-height: 20px;
  word-spacing: 4px;
}
.popular_links
{
  margin-bottom: 40px;
}
.popular_contact 
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.popular_contact p
{
  color: #94969f;
}
.popular_contact a 
{
  text-decoration: none;
  font-weight: 600;
}
.contactus a
{
  text-decoration: none;
  font-weight: 600;
  color: #234ae5;
  
}
.footer_column_last h3
{
  color:#535766 !important ;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.footer_column_last p
{
  line-height: 18px;
  color: #94969f;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.counting
{
  margin-left: 40px;
}


