
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}

/* Header Section */

header{
  display: flex;
  background-color:#ffffff;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid #f5f5f6 ;
  position: fixed;
  width: 100%;
}
/* .myntra_home{
  height: 45px;
}
.logo_container{
  margin-left: 4%;
} */
.home_container{
  margin-left: 4%;
}  
.home{
  height: 35px;
  width: 40px;
  border: 1px solid rgb(184, 182, 182);
  border-radius: 5px;
}
.action_bar{
  margin-left: 4%;
}
.nav_bar{
  display: flex;
  justify-content: space-evenly;
  min-width: 500px;
  }
.nav_bar a{
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 2px solid #ffffff;
  /* padding: 20px; */
}
.nav_bar a:hover{
  border-bottom: 2px solid red;    
}
.nav_bar a sup{
  color: #ff3f6c;
  font-size: 10px;
}
.search_bar{
  height: 40px;
  min-width: 200px;
  width: 30%;
  display: flex;
  align-items: center;
}
.search_icon{
  box-sizing: content-box;
  background-color: #f5f5f6;
  height: 20px;
  padding: 10px;
  color: #282c3f;
  font-weight: 200;
  border-radius:4px 0 0 4px ;
}
.search_input{
  color: #696e79;
  background: #f5f5f6;
  flex-grow: 1;
  height: 40px;
  border: 0;
  border-radius: 0 4px 4px 0;
}
.action_bar{
  display: flex;
  min-width: 300px;
  justify-content: space-evenly;
}
.action_container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.action_name{
  text-transform:capitalize ;
  color: #000;
  font-weight: 800;
  font-size: 15px;
}
header a{
  text-decoration: none;
}
