body {
  background-image: url('images/background1.png'); 
  background-size: cover; 
  background-position: center; 
  height: 732px;
  margin: 0;
  padding: 0;
}
.login_container {
  max-width: 400px;
  margin: 200px auto;
  padding: 20px;
  /* background-color: rgb(151, 146, 146); */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  backdrop-filter: blur(30px);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(105, 52, 155);
}
.form_group {
  margin-bottom: 15px;
  margin-right: 20px;
}
label {
  display: block;
  margin-bottom: 5px;
  color:rebeccapurple ;
  letter-spacing: .05em;
  font-weight: 500;
}
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  letter-spacing: .05em;
  font-weight: 400;
}
input[placeholder="Enter your email"],
input[placeholder="Enter your password"]
{
background-color: rgb(255, 253, 251);
}
button {
  width: 100%;
  padding: 10px;
  background-color: #418bdb;
  color: rgb(247, 196, 196);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
}
button:hover {
  background-color: #0056b3;
}
.login{
  letter-spacing: .05em;
  font-weight: 700;
}
.links {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.links a {
  color: #e4f0fd;
  text-decoration: none;
  letter-spacing: .05em;
  font-weight: 300;
}
.links{
  text-decoration: none;
}
.links a:hover {
  color:#0e7bef ;
  text-decoration: underline;
}
